/*DishCard*/

/* .dishcard-image {
  width: 150px;
  height: 150px;
}

.dishcard-size {
  width: 60%;
  height: 160px;
} */


/*DishCard*/

.card {
  box-shadow: 5px 5px 15px black;
}

.img {
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  object-fit: cover;
  
}

a:link, a:visited, a:active {
  text-decoration:none;
}