.card {
  box-shadow: 5px 5px 15px black;
}

.img {
  width: fit-content;
  height: fit-content;
  aspect-ratio: 1/1;
  object-fit: cover;
  
}

a:link, a:visited, a:active {
  text-decoration:none;
}

.button--red--dish {
  background-color: #e35656;
  min-width: 50px;
  height: 40px;
  color: black;
  padding: 1px 10px;
  font-weight:normal;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px grey;
}
.button--red--dish:hover {
  box-shadow: 0 3px #00FFA3;
  top: 1px;
}
.button--red--dish:active {
  box-shadow: 0 0 #00FFA3;
  top: 5px;
}

.button--orange--dish {
  background-color: #ff9900;
  min-width: 50px;
  height: 40px;
  padding: 1px 10px;
  font-weight:normal;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px grey;
}
.button--orange--dish:hover {
  box-shadow: 0 3px #00FFA3;
  top: 1px;
}
.button--orange--dish:active {
  box-shadow: 0 0 #00FFA3;
  top: 5px;
}

.user-btn {
  background: none;
  border: none;
  opacity: 0.5;
  margin: 0px;
  transition: all 0.1s ease;
}

.user-btn:hover {
    opacity: 0.85;
    transform:translate(0.8px);
}
