.profileEdit-main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.profileEdit_form_container {
  box-shadow: 5px 5px 15px black;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.editProfile_title {
  height: 50px;
  text-align: center;
  padding-top: auto;
  font-size: 30px;
  color: white;
}

.login_form {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
}

.button--green--edit-profile {
  background-color: #00FFA3 !important;
  color: #000000 !important;
  width: 50%;
  height: 40px;
  padding: 1px 10px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px grey;
}
.button--green--edit-profile:hover {
  box-shadow: 0 3px #00FFA3;
  top: 1px;
}
.button--green--edit-profile:active {
  box-shadow: 0 0 #00FFA3;
  top: 5px;
}

/**/
.button--red--edit-profile {
  /* min-width: 100px; */
  height: 40px; 
  color: black;
  padding: 1px 10px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #e35656;
  box-shadow: 0px 3px grey;
}
.button--red--edit-profile:hover {
  box-shadow: 0 3px #cc0000;
  top: 1px;
}
.button--red--edit-profile:active {
  box-shadow: 0 0 #cc0000;
  top: 5px;
}