nav{
    background-color: #CC0000;
    border-bottom: 2px solid #00FFA3;
}

.orange-line{
    border-bottom: 1px solid #FF9900;
}

.search-bar {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 8px 12px;
    margin-left: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  /* ------------------------ Login form styling start ------------------------*/
.login_page_main_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.login_form_container {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.login_title {
  height: 50px;
  text-align: center;
  padding-top: auto;
  font-size: 30px;
  color: white;
}

.login_form {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  border-radius: 10px;
}

.login_submit_button {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
/* ------------------------ Login form styling end ------------------------*/