
nav{
    background-color: #CC0000;
    border-bottom: 2px solid #00FFA3;
}

/* body {
  background-color: rgb(222, 222, 200);
} */

:root {
  --main_color: #cc0000;

}

nav {
  background-color: #cc0000;
  border-bottom: 2px solid #00ffa3;
}

.orange-line {
  border-bottom: 1px solid #ff9900;
}

.search-bar {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

button[type="submit"] {
  padding: 8px 12px;
  margin-left: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
