.searchBar {
    /* backdrop-filter: blur(50px); */
    /* background-color: #ffffff95; */
    background-color: #ffffff;
    box-shadow: 5px 5px 15px black;
    border: 3px solid rgba(255, 255, 255, 0.23);
    border-radius: 10px;

}

.searchBar input {
    border: none !important;
    border-radius: 0;
}

/*PRUEBA BOTONES*/
.button--find {
    font-size: 20px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight:normal;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #57cc99 !important;
    box-shadow: 1px 3px 15px gray;
  }
  .button--find:hover {
    box-shadow: 0 3px grey;
    top: 1px;
  }
  .button--find:active {
    box-shadow: 0 0 grey;
    top: 5px;
  }

/* .searchBar .searchBar--border-bottom {
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid black !important;
}

.searchBar__label {
    font-size: 1.5em;
    font-weight: 600;
}

.searchBar__submit {
    background-color: inherit !important;
    color: black !important;
} */